@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.btn {
  @apply text-base font-semibold leading-5 cursor-pointer rounded-lg px-4 py-2 h-10;
}

.initial-email {
  @apply h-16 border-b-0 rounded-t-lg;
}

.text-input {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.addNewStep-btn {
  @apply border border-solid border-btnBorder;
}

.initialEmail-input::placeholder {
  @apply text-black;
}

.step-index-active {
  @apply w-6 h-6 border-2 rounded-full flex justify-center items-center border-purple;
}

.step-index-notActive {
  @apply w-6 h-6 border-2 rounded-full flex justify-center items-center border-lightGray;
}
